<div class="center">
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Passord</th>
            <th>Mobile Number</th>
            <th>Operations</th>
        </tr>

        <tr *ngFor="let item of userDetailsArr">
            <td>{{item['name']}}</td>
            <td>{{item['email']}}</td>
            <td>{{item['password']}}</td>
            <td>{{item['phoneNumber']}}</td>
            <td align="center">
                <button *ngIf="!viewUser" mat-button color="primary" (click)="addUser()">Add</button>
                <button *ngIf="viewUser" mat-stroked-button color="primary"  (click)="editUser(item)">Edit</button>
                <button *ngIf="!viewUser" mat-button color="warn" (click)="deleteUser(item)">Delete</button>
            </td>
        </tr>
    </table>

    <button *ngIf="!viewUser" [disabled]="userDetailsArr.length == 0" class="submitBtn" mat-raised-button color="primary"
        (click)="sendDataToNextPage()">Submit</button>
    <button *ngIf="userDetailsArr.length == 0" mat-button class="addBtn" (click)="addUser()">Add</button>

    <button *ngIf="viewUser" mat-button color="primary"  (click)="gotoPreviosPage()">Back</button>
</div>