table, th, td {
    border: 1px solid rgb(66, 59, 59);
    border-collapse: collapse;
  }
  th, td {
    width: 150px;
    background-color: #d2e4a9;
  }

  .addBtn{
      width: 150px;
      cursor: pointer;
      color: white;
      background-color: rgb(66, 172, 66);
  }
  